body {
    background-color: black;
    font-family: 'Ranchers', sans-serif;
    margin: 0;
}

#landingHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
    padding: 30px;
}

#grandOpeningMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DC0000;
    color: white;
    font-size: 20px;
}

#landingPageMainContent {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    position: relative;
    top: 100px;
    gap: 50px;
}

#buyNowButton {
    background-color: #DC0000;
    color: white;
    font-size: 50px;
    font-family: 'Ranchers', sans-serif;
    display: block;
    margin: auto;
    width: 300px;
    height: 100px;
    border-radius: 15px;
    position: relative;
    top: 100px;
    cursor: pointer;
    padding-bottom: 10px;
}